@{
    ViewData["Title"] = "Home Page";
}

<form action="../StarWars/DisplayPeople" method="post">
    <input type="number" name="tag" value="" placeholder="Person id #"/>
    <input type="submit" value="submit" />
</form>
<br />
<br />
<form action="../StarWars/DisplayPlanet" method="post">
    <input type="number" name="tag" value="" placeholder="Planet id #" />
    <input type="submit" value="submit" />
</form>
